# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/
!smart_signal/.streamlit/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.AppleDouble
.LSOverride

# Project Specific
footages/
weights/
*.mp4
*.avi
*.mkv
*.jpg
*.jpeg
*.png
data/
logs/
.ipynb_checkpoints/
